$main-grey: #626c7c;
$main-white: #f7f7ff;
$main-black: #090c08;
$main-pink: #ff8590;
$secondary-pink: #ff7481;
$main-purple: #6930c3;
$main-teal:#e4fbf9;


$main-red: #F42C04;
$main-blue: #296EB4;

$small-shadows: box-shadows-4dayz(700);
$medium-shadows: box-shadows-4dayz(200);
$large-shadows: box-shadows-4dayz(100);