$main-grey: #626c7c;
$main-white: #c0c1d2;
$main-black: #1e2324;
$main-pink: #ff8590;
$secondary-pink: #ff7481;
$main-purple: #42113C;


$coolor-red: #F42C04;
$main-blue: #296EB4;

$small-shadows: box-shadows-4dayz(700);
$medium-shadows: box-shadows-4dayz(200);
$large-shadows: box-shadows-4dayz(100);