.footer {
    position: relative;
    bottom: -1rem;
    height: 4rem;
    padding-bottom: 1rem;
    &_anti {
        width: 18rem;
        @include absoluteCenter;
        left: 90%;
        display: flex;
        
        align-items: center;
        justify-content: center;

        @include respond(tablet) {
            left: 85%;
        }
        &--image {
            margin: .5rem;
            height: 3rem;
        }
    }

}