section, header
{
    z-index: 10;
    position: relative;
}
.about 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 20rem;

    @include respond(tablet) {
        display: block;
    }

    &_photo {

        &--image {
            border-radius: 50%;
            width: 35rem;

            @include respond(tablet) {
                width: 30rem;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &_text {
        border-radius: 2rem;
        width: 95%;
        padding: 3rem;
        margin: 0 auto;

        @include respond(tablet) {
            width: 90%;
            padding: 2rem;
            text-align: center;
        }
    }
}



.projects {

    margin-bottom: 20rem;
    &_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @include respond(tabletLandscape) {
            width: 90%;
            margin: 0 auto;
        }
    }

    &_header {
        margin-bottom: 3rem;
    }

    &_project {
        margin: 3rem;
        display: inline-block;
        border-radius: 2rem;
        
        position: relative;

        @include respond(tablet) {
            margin: 4rem;
        }

        &--link {
            border-radius: 2rem;
            height: 30rem;
            transition: all .2s ease;

            &-image{
                border-radius: 2rem;
                height: 30rem;
            }

            &:hover &-image, &:hover &-text{
                transform: translateY(-.5rem);
            }

        }

    }
    
}

.nosleep {
    margin-bottom: 20rem;
    &_header {
        margin-bottom: 3rem;
    }

    &_container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }

    &_reason {
        
        &--image {
            margin: 1rem 2rem;
            border-radius: 1rem;
            height: 35rem;
            box-shadow: .5rem .5rem .5rem rgba(0,0,0, 0.6);

            @include respond(tablet) {
                height: 30rem;
            }
        }
    }

}

.contactme {
    margin-bottom: 5rem;
    
    @include respond(tabletLandscape) {
        padding: 0 2rem;
        margin: 0 auto;
        width: 90%;
    }
}