section, header
{
    z-index: 10;
    position: relative;
}
.about 
{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    border-radius: 5rem;

    &_photo {
        &--image {
            border-radius: 50%;
        }
    }

    &_text {
        border-radius: 2rem;
        width: 90%;
        padding: 3rem;
    }
}



.projects {

    margin-bottom: 15rem;
    &_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &_header {
        margin-bottom: 3rem;
    }

    &_project {
        margin: 2rem;
        display: inline-block;
        border-radius: 2rem;
        
        position: relative;


        &--link {
            border-radius: 2rem;
            height: 30rem;
            transition: all .2s ease;

            &-image{
                border-radius: 2rem;
                height: 30rem;
            }

            &:hover &-image, &:hover &-text{
                transform: translateY(-.5rem);
            }

        }

    }
    
}

.nosleep {
    margin-bottom: 15rem;
    &_header {
        margin-bottom: 3rem;
    }

    &_container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &_reason {
        
        &--image {
            margin: 1rem 2rem;
            border-radius: 1rem;
            height: 35rem;
        }
    }

    &_author {

    }

    &_info {

    }
}

.contactme {
    margin-bottom: 10rem;
}