.navigation {
    display: flex;
    justify-content: space-around;
    height: 10rem;
    

    &_logo {
        height: 8rem;
        margin: 1.5rem 0;
        z-index: 10;
    }

    .nav, .social {
        display: flex;
        justify-content: space-around;
        width: 50rem;
        z-index: 10;

        &_item {
            text-align: center;
            margin: auto 0;

            &--link {
                padding: 1rem 2rem;
            }
        }
    }

    .social {
        &_item {
            &--link {
                padding: 1rem;
            }
        }
    }
}