.navigation {
    position: sticky;
    position: -webkit-sticky;
    top: 0rem;
    background: $main-black;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    z-index: 100;

    &_logo {
        height: 8rem;
        margin: .5rem;
    }

    &_links {
        height: 8rem;
        width: 40rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &_item {
        text-align: center;
        margin: auto 0;
    }

    &_link {
        padding: 1rem;
    }

    &_social {
        padding: 0 1rem;
    }

}