.navigation {
    display: flex;
    justify-content: space-between;
    height: 10rem;

    &_logo {
        height: 7rem;
        margin: auto;
    }

    .nav, .social {
        display: flex;
        justify-content: space-around;
        width: 50rem;

        &_item {
            text-align: center;
            margin: auto 0;

            &--link {
                padding: 1rem 2rem;
            }
        }
    }

    .social {
        &_item {
            &--link {
                padding: 1rem;
            }
        }
    }
}