#stars
{
    display: none;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $small-shadows;
    animation: starfall 45s linear infinite;
    border-radius: 50%;
    //Get it? Starfall
    @include respond(bigScreen) { display: block;}

    &::after
    {
        content: "";
        display: none;
        position: absolute;
        top: 200rem;

        width: 1px;
        height: 1px;
        border-radius: 50%;
        background: transparent;    
        box-shadow: $small-shadows;
        @include respond(bigScreen) { display: block;}
    }
}

#stars2
{
    display: none;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;    
    box-shadow: $medium-shadows;
    animation: starfall 90s linear infinite;
    @include respond(bigScreen) { display: block;}

    &::after
    {
        content: "";
        display: none;
        position: absolute;
        top: 200rem;

        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: transparent;    
        box-shadow: $medium-shadows;
        @include respond(bigScreen) { display: block;}
    }
}

#stars3
{
    display: none;
    width: 3px;
    height: 3px;
    background: transparent; 
    box-shadow: $large-shadows; 
    border-radius: 50%;
    animation: starfall 130s linear infinite;
    @include respond(bigScreen) { display: block;}

    &::after
    {
        content: "";
        display: none;
        position: absolute;
        top: 200rem;

        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: transparent;    
        box-shadow: $large-shadows;
        @include respond(bigScreen) { display: block;}
    }
}